.column1 {
    background-color: #FDF0D5;
    margin: 0; 
    padding-bottom: 30px;
    float: left;
    width: 33.33%;
    box-sizing: border-box;
}

.column2 {
    background-color: #FDF0D5;
    margin: 0; 
    padding-bottom: 30px;
    float: left;
    width: 33.33%;
    box-sizing: border-box;
}

.column3 {
    background-color: #FDF0D5;
    margin: 0; 
    padding-bottom: 30px;
    float: left;
    width: 33.33%;
    box-sizing: border-box;
}

.head{
    margin: 0; 
    padding: 0;
    padding-top: 0;
    margin-top: 0;
}

.body{
    margin: 0; 
    padding: 0;
    padding-top: 0;
    margin-top: 0;
}

.row:after {
    margin: 0; 
    padding: 0;
    content: "";
    display: table;
    clear: both;
}

.datatitles {
    margin: 0; 
    padding: 0;
    text-align: center;
    justify-content: center;
}

.title{
    margin: 0; 
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    justify-content: center;
    color: white;
}

.topbanner{
    margin: 0; 
    padding: 0;
    background-color: #e90005;
    width: 100vw;
    height: 100px;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}

.data{
    margin: 0; 
    padding: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.ku{
    padding-top: 30px;
    margin: 0; 
    text-align: center;
}

.jayhawk{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.button{
    max-width: fit-content;
    background-color: white;
    color: black;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    border-radius: 12px;
}

.leftpadding{
    padding-left: 10px;
}


.website{
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    justify-content: center;
    color: white
}

.color{
    max-width: 100vw;
    background-color: #0050bb;
}

.input{
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    height: 100px;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1%;
    padding-bottom: 1%;
}

.box{
    font-size: 25;
    background-color: lightgray;
    border: 2px solid white;
    box-sizing: border-box;
    height: 30px;
    border-radius: 6px;
}

.padding{
    height: 5px
}